#root {
    height: 100vh;
}

.pageContainer {
    max-width: 65vw;
    height: 656px;
    background-color: black;
    /* display: grid; */
    /* grid-template-rows: 0fr 1fr; */
}

.pageContainer h1 {
    text-align: center;
}

.levelCard {
    max-width: 250px;
    margin: 0 5vw;
    text-align: center;
}

.levelCard img {
    width: 100%;
    /* border-radius: 20px; */
}

.levelContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 530px;
}

.backendAlert {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}