.imgContainer {
  display: grid;
  justify-content: center;
}

img {
  max-width: 90vw;
  max-height: 80vh;
}

.targetContainer {
  display: grid;
  justify-items: center;
  position: absolute;
}

.hitBox {
  position: absolute;
  border-style: solid;
  border-color: green;
  border-radius: 20vw;
  width: 40px;
  height: 40px;
}

.targetingBox {
  border-style: solid;
  border-color: red;
  border-radius: 20vw;
  width: 40px;
  height: 40px;
}

.dropDown {
  border-style: solid;
  border-color: red;
  width: 80px;
  background-color: red;
  border-radius: 10px;
  margin-top: 5px;
}

.dropDown ul {
  list-style: none;
  padding: 0;
  color: black;
}

.dropDown li {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 6px;
}

.winDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border-color: #646cff;
  border-style: solid;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border-color: #646cff;
  border-style: solid;
  display: grid;
  gap: 5px;
}

form input {
  text-align: center;
}