.backgroundBorderContainer {
  display: grid;
  justify-content: center;
  /* padding: 0px 15vw; */
  background-color: black;
}

.backgroundBorder {
  width: 65vw;
  display: grid;
  grid-template-rows: 1fr;
  background-color: grey;
  padding: 4vh 50px;
  padding-bottom: 14vh;
}

.pageLinks {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20vw;
  margin-top: 40px;
}

.pageLinks a {
  font-size: 1.5em;
  color: white;
  background-color: black;
  border: 2px solid black;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.imgContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 65vw;
  height: 656px;
  background-color: black;
}

img {
  max-width: 54vw;
  max-height: 630px;
}

.targetContainer {
  display: grid;
  justify-items: center;
  position: absolute;
}

.hitBox {
  position: absolute;
  border-style: solid;
  border-color: green;
  border-radius: 20vw;
  width: 40px;
  height: 40px;
}

.targetingBox {
  border-style: solid;
  border-color: red;
  border-radius: 20vw;
  width: 40px;
  height: 40px;
}

.dropDown {
  border-style: solid;
  border-color: red;
  width: 80px;
  background-color: red;
  border-radius: 10px;
  margin-top: 5px;
}

.dropDown ul {
  list-style: none;
  padding: 0;
  color: black;
}

.dropDown li {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 6px;
}

.winDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border-color: #646cff;
  border-style: solid;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border-color: #646cff;
  border-style: solid;
  display: grid;
  gap: 5px;
}

form input {
  text-align: center;
}